.divContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  color: #000000;
}

.divContentTitle {
  width: 100vw;
  height: 150px;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #4e926d;
  padding-left: 1em;
  margin-top: -10px;
}

.title {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-top: -0.5em;
}

.divContentTitleInput {
  border-radius: 0.5em;
  margin-top: 0.4em;
  margin-left: 0.2em;
  padding: 0.2em;
  border: solid #f6f4e6;
  color: #363334;
  font-size: 1em;
}
